
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Anime69</title>
	<!-- Bootstrap core CSS -->
	<link href="~/startbootstrap-modern-business-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="~/CSS/GiaoDienNguoiDungCSS.css" rel="stylesheet" />
	<link href="~/startbootstrap-modern-business-gh-pages/css/modern-business.css" rel="stylesheet" />
</head>
<body>
	@RenderBody()
	</body>
</html>
